body{
  background: #c62828;
}

header{
  background: white;
}

.socl-icons{
  margin-top: 110px;
}

.logo-img{
  width: 180px;
  height: 180px;
}

.img-social{
  width: 40px;
}

.navbar{
  background: #fff59d;
}

.main{
  background: white;
  border-radius: 10px;
}

.artist{
  width: 350px;
}

#div-src{
  margin-top: 20px;
}
